USE [master]
GO
/****** Object:  Database [Studenti]    Script Date: 19/11/2021 14:17:31 ******/
CREATE DATABASE [Studenti]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Studenti', FILENAME = N'C:\Users\sanna\Studenti.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Studenti_log', FILENAME = N'C:\Users\sanna\Studenti_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Studenti].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Studenti]
GO
USE [Studenti]
GO
/****** Object:  Table [dbo].[Studente]    Script Date: 19/11/2021 14:17:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Studente](
	[IdStudente] [int] NOT NULL,
	[Nome] [nvarchar](20) NOT NULL,
	[Cognome] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Stud] PRIMARY KEY CLUSTERED 
(
	[IdStudente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Studente] ([IdStudente], [Nome], [Cognome]) VALUES (1, N'Stefania', N'Sanna')
INSERT [dbo].[Studente] ([IdStudente], [Nome], [Cognome]) VALUES (2, N'Nicolò', N'Caddeo')
INSERT [dbo].[Studente] ([IdStudente], [Nome], [Cognome]) VALUES (3, N'Michela', N'Pintor')
GO
USE [master]
GO
